@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary: #10b981;
    --color-secondary: #047857;
    --color-accent: #f97316;
    --color-dark: #1f2937;
}

@layer components {
    .customer-nav {
        @apply flex items-center space-x-3 p-3 rounded-xl transition text-gray-600 hover:bg-gray-50 font-semibold;
    }

    .customer-nav-active {
        @apply bg-primary text-white hover:bg-primary hover:text-white font-bold;
    }

    .admin-nav {
        @apply flex items-center space-x-3 hover:bg-gray-800 hover:text-white p-3 rounded-xl font-semibold transition;
    }

    .admin-nav-active {
        @apply bg-primary text-white hover:bg-primary font-bold;
    }
}
